@use '../base/variables' as v;

.contenedor_botones{
    .contenedor_boton-operador{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 1rem;

        button{
            padding: 5px;
            background-color: v.$gris;
            color: v.$blanco;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            
            &:hover{
                cursor: pointer;
                background-color: v.$grisClaro;

            }
        }
    }

    .contenedor_botones-numero-operador-derecha{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;

        .contenedor_boton-numero{
            display: grid;
            grid-template-columns: repeat(3, 100px);
            button{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-top: 1rem;
                background-color: v.$gris;
                color: v.$blanco;

                &:hover{
                    cursor: pointer;
                    background-color: v.$grisClaro;
                }
            }
        }

        .contenedor_boton-operador-derecha{
            display: grid;

            button{
                margin-top: 1rem;
                height: 160px;
                width: 70px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .contenedor_boton-footer{
        display: grid;
        grid-template-columns: repeat(2, 175px);
        gap: 20px;
        margin-top: 1rem;

        button{
            height: 60px;

        }

    }
}