@use 'base/variables' as v;

main{
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 5px;

    .content_titulo-calculadora{
        margin: 3rem 0 3rem 0;
        h1{
            font-size: 3.5rem;
            font-weight: 800;
            width: 50%;
            margin: 0% auto;
            text-align: center;
        }
    }

    .content_calculadora{
        background-color: transparent;
        border: 6px solid v.$azulMarino;
        opacity: 50%;
        width: 440px;
        margin: 0% auto;
        border-radius: 5px;
        box-shadow: 0 0 30px 1px v.$negro;
    }
}
