@use 'base/variables' as v;

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .content_calculadora{
        padding: 20px;
        background-color: v.$blanco;
        border: 1px solid v.$negro;
        opacity: 50%;
        width: 400px;
        margin: 0% auto;
        border-radius: 5px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,228,220,1) 100%);    }
}
